#welcome-screen {
    background-image: url('cetaphil_gentle_skin_cleanser_moisturising_lotion_125ml_100ml_7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
}

#welcome-screen h1 {
    margin-bottom: 20px;
}

#welcome-screen button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#welcome-screen button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1, h2 {
    color: #2d6e9d;
}

button {
    padding: 10px 20px;
    background-color: #2d6e9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3d7ead;
}

#quiz-screen, #results-screen, #game-screen, #rewards-screen {
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
